# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
venv/
ENV/

# Entorno
.env
.env.local
.env.production

# Base de datos local
*.db
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
